<div class="container">

<label>Escolha uma foto de rosto frontal</label>
<p>Não serão aprovadas fotos sem nitidez, com óculos escuro ou com chapéu</p>

<div class="from-group">

  <div class="row" style="margin-bottom: 15px;">
    <label for="file-input2" class="btn btn-primary" style="margin-left: 15px;">Selecionar foto...</label>
    <input type="file" id="file-input2" accept="image/jpeg" onchange="angular.element(this).scope().fileNameChanged(this)"
      style="padding-left: 20px; opacity: 0;">
  </div>
  <div class="row" ng-show="!membroController.arquivoFotoSelecionado">
    <div class="col-xs-8 col-xs-offset-2">
      <img id="preview" src="./images/avatar-default.png" class="img-responsive center-block">
    </div>
  </div>
  <div class="row" ng-hide="(membroController.recorteFotoConfirmado || !membroController.arquivoFotoSelecionado)">
    <croppie ng-if="cropped.source" src="cropped.source" ng-model="cropped.image" options="{enableExif:true, boundary:{width:350,height:350, type: square}}"></croppie>
  </div>
  <div class="row" ng-hide="(membroController.recorteFotoConfirmado || !membroController.arquivoFotoSelecionado)">
    <div class="col-xs-2">
      <button type="button" class="btn btn-primary" ng-click="membroController.confirmarFoto()">Confirmar foto</button>
    </div>
  </div>
  <div class="row" ng-show="membroController.recorteFotoConfirmado">
    <div class="col-xs-8 col-xs-offset-2">
      <img id="preview2" src="{{cropped.image}}" class="img-responsive center-block">
    </div>
  </div>
</div>

<div class="form-group row" style="margin-top: 15px;">
  <div class="col-xs-12">
    <button role="button" ng-click="membroController.atualizarPerfil()" class="btn btn-success" ng-disabled="(form.$invalid || (!membroController.arquivoArmazenadoComSucesso) )">Concluir Alteração</button>
    <a class="btn btn-default" ui-sref="me" role="button">Cancelar</a>
  </div>
</div>