<div id="form-header" class="page-header text-center">
    <div id="status-buttons" class="text-center">
        <a><span>1</span> Geral</a>
        <a><span>2</span> Saúde</a>
        <a class="active"><span>3</span> Surfe</a>
        <a><span>4</span> Foto</a>
    </div>
</div>

<div class="form-group">
    <label for="radioButtonsNivel">Nível de surfe</label>
    <div id="radioButtonsNivel">
        <div class="radio">
            <label>
            <input type="radio" name="nivel" id="nivelIniciante" value="iniciante" ng-model="formController.formData.nivel" required>
            iniciante
        </label>
        </div>
        <div class="radio">
            <label>
            <input type="radio" name="nivel" id="nivelIntermediario" value="intermediario" ng-model="formController.formData.nivel">
            intermediário
        </label>
        </div>
        <div class="radio">
            <label>
            <input type="radio" name="nivel" id="nivelAvancado" value="avancado" ng-model="formController.formData.nivel">
            avançado
        </label>
        </div>
        <div class="radio">
            <label>
            <input type="radio" name="nivel" id="nivelProfissional" value="profissional" ng-model="formController.formData.nivel">
            profissional
        </label>
        </div>
    </div>
</div>


<div class="form-group">
    <label for="checkboxesTipoPrancha">Tipo de prancha</label>
    <div class="checkbox" ng-repeat="tipo in formController.tiposPrancha">
        <label>
            <input type="checkbox" value={{tipo}} ng-click="formController.toggleTipoPrancha(tipo)" ng-checked="formController.tiposPranchaSelecionados.indexOf(tipo) > -1">{{tipo}}
        </label>
    </div>
</div>

<div class="form-group" ng-class="{ 'has-error' : form.inputAnoComecoSurfe.$error.required && !form.inputAnoComecoSurfe.$pristine }">
    <label for="inputAnoComecoSurfe">Ano em que começou a surfar</label>
    <small>(se não lembrar o ano exato, informe um ano aproximado)</small>
    <input class="form-control" id="inputAnoComecoSurfe" name="inputAnoComecoSurfe" style="width: 50%;" placeholder="ano" type="number"
        min="1900" max="2050" maxlength="4" required only-digits ng-model="formController.formData.anoComecoSurfe">
    <span class="help-block" ng-show="form.inputAnoComecoSurfe.$error.required && !form.inputAnoComecoSurfe.$pristine">É obrigatório informar o ano!</span>
</div>

<div class="form-group" ng-class="{ 'has-error' : form.inputPraia.$error.required && !form.inputPraia.$pristine }">
    <label for="inputPraia">Praia onde surfa mais frequentemente</label>
    <input type="text" class="form-control" id="inputPraia" name="inputPraia" placeholder="ex.: Praia de Jaguaribe" ng-model="formController.formData.praia"
        required>
    <span class="help-block" ng-show="form.inputPraia.$error.required && !form.inputPraia.$pristine">É obrigatório informar o nome da praia!</span>
</div>

<div class="form-group row">
    <div class="col-sm-6 col-sm-offset-3">
        <!-- <a ui-sref="confirmacao" class="btn btn-block btn-primary" ng-disabled="form.$invalid"> Concluir 
    </a>-->
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="form.$invalid">Concluir</button>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6 col-sm-offset-3">
        <a ui-sref="form.foto" class="btn btn-block btn-info" ng-disabled="
    form.$invalid" ng-click="formController.marcarPassoSurfeComoConcluido()">
    Próximo passo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>