<div id="form-header" class="page-header text-center">
  <div id="status-buttons" class="text-center">
    <a class="past">
      <span>1</span> Geral</a>
    <a class="past">
      <span>2</span> Saúde</a>
    <a class="past">
      <span>3</span> Surfe</a>
    <a class="active">
      <span>4</span> Foto</a>
  </div>
</div>

<label>Escolha uma foto de rosto frontal</label>
<p>Não serão aprovadas fotos sem nitidez, com óculos escuro ou com chapéu</p>
<div class="formGroup">
  <div class="checkbox" ng-hide="formController.facebookPicture.is_silhouette">
    <label>
      <input type="checkbox" ng-model="formController.formData.fotoFacebook"> Usar minha foto de perfil do Facebook
      (obs.: somente de rosto frontal, nítida e sem óculos escuro ou chapéu)
    </label>
  </div>
</div>
<div class="row" ng-show="formController.formData.fotoFacebook">
  <div class="col-xs-8 col-xs-offset-2">
    <img ng-src="{{formController.facebookPicture.url}}" class="img-responsive center-block">
  </div>
</div>

<div class="from-group" ng-hide="formController.formData.fotoFacebook">

  <div class="row" style="margin-bottom: 15px;">
    <label for="file-input2" class="btn btn-primary" style="margin-left: 15px;">Selecionar foto...</label>
    <!-- <p class="text-danger" style="margin-left: 15px;" ng-hide="formController.arquivoValido">{{formController.mensagemValidacaoArquivo}}</p> -->
    <input type="file" id="file-input2" accept="image/jpeg" onchange="angular.element(this).scope().fileNameChanged(this)"
      style="padding-left: 20px; opacity: 0;">
  </div>
  <div class="row" ng-show="!formController.arquivoFotoSelecionado">
    <div class="col-xs-8 col-xs-offset-2">
      <img id="preview" src="./images/avatar-default.png" class="img-responsive center-block">
    </div>
  </div>
  <div class="row" ng-hide="(formController.recorteFotoConfirmado || !formController.arquivoFotoSelecionado)">
    <croppie ng-if="cropped.source" src="cropped.source" ng-model="cropped.image" options="{enableExif:true, boundary:{width:350,height:350, type: square}}"></croppie>
  </div>
  <div class="row" ng-hide="(formController.recorteFotoConfirmado || !formController.arquivoFotoSelecionado)">
    <div class="col-xs-2">
      <button type="button" class="btn btn-success" ng-click="formController.confirmarFoto()">Confirmar foto</button>
    </div>
  </div>
  <div class="row" ng-show="formController.recorteFotoConfirmado">
    <div class="col-xs-8 col-xs-offset-2">
      <img id="preview2" src="{{cropped.image}}" class="img-responsive center-block">
    </div>
  </div>
</div>

<div class="form-group row" style="margin-top: 15px;">
  <div class="col-sm-6 col-sm-offset-3">
    <button type="submit" class="btn btn-primary btn-block" ng-disabled="(form.$invalid || ((!formController.arquivoArmazenadoComSucesso) && (!formController.formData.fotoFacebook)))">Concluir</button>
  </div>
</div>