<div id="form-header" class="page-header text-center">
  <div id="status-buttons" class="text-center">
    <a><span>1</span> Geral</a>
    <a class="active"><span>2</span> Saúde</a>
    <a><span>3</span> Surfe</a>
    <a><span>4</span> Foto</a>
  </div>
</div>

<div class="form-group row">
  <div class="col-xs-6">
    <label for="selectGrupoSanguineo">Grupo Sanguíneo</label>
    <select class="form-control" id="selectGrupoSanguineo" name="selectGrupoSanguineo" required ng-model="formController.formData.grupoSanguineo">
                <option value="" disabled>selecione</option>
                <option value="A">A</option>
                <option value="AB">AB</option>
                <option value="B">B</option>
                <option value="O">O</option>
            </select>
  </div>
</div>

<div class="form-group">
  <label for="radioButtonsFatorRH">Fator RH</label>
  <div id="radioButtonsFatorRH" ng-init="formController.formData.fatorRH='+'">
    <label class="radio-inline">
           <input type="radio" ng-model="formController.formData.fatorRH" value="+">
           + Positivo
        </label>
    <label class="radio-inline">
            <input type="radio" ng-model="formController.formData.fatorRH" value="-">
            - Negativo
        </label>
  </div>
</div>
<div class="form-group">
  <label for="inputAlergias">Alergias <small>(opcional)</small></label>
  <input type="text" class="form-control" id="inputAlergias" name="inputAlergias" placeholder="ex.: AAS, dipirona, camarão"
    ng-model="formController.formData.alergias">
</div>

<div class="form-group">
  <label for="inputProblemasSaude">Problemas de Saúde <small>(opcional)</small></label>
  <input type="text" class="form-control" id="inputProblemasSaude" name="inputProblemasSaude" placeholder="ex.: diabetes, eplepsia, hipertensão"
    ng-model="formController.formData.problemasSaude">
</div>

<fieldset>
  <legend id="legendContatoEmergencia">Contato de Emergência</legend>
  <div class="form-group">
    <small>Informe abaixo os dados da pessoa que deve ser comunicada em caso de acidente</small>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.inputNomeContatoEmergencia.$error.required && !form.inputNomeContatoEmergencia.$pristine }">
    <label for="inputNomeContatoEmergencia">Nome</label>
    <input type="text" class="form-control" id="inputNomeContatoEmergencia" name="inputNomeContatoEmergencia" placeholder="Nome do contato de emergêcia"
      ng-model="formController.formData.nomeContatoEmergencia" required>
    <span class="help-block" ng-show="form.inputNomeContatoEmergencia.$error.required && !form.inputNomeContatoEmergencia.$pristine">É obrigatório informar o nome do seu contato de emergência!</span>
  </div>
  <div class="form-group col-xs-6" style="padding-left: 0px;" ng-class="{ 'has-error' : form.inputelefoneContatoEmergencia.$error.required && !form.inputelefoneContatoEmergencia.$pristine
}">
    <label for="inputelefoneContatoEmergencia">Telefone Celular</label>
    <input type="text" class="form-control" id="inputelefoneContatoEmergencia" name="inputelefoneContatoEmergencia" ng-model="formController.formData.telefoneContatoEmergencia "
      ui-mask="(99) 99999-9999" ui-mask-placeholder ui-mask-placeholder-char="_" required>
    <span class="help-block " ng-show="form.inputelefoneContatoEmergencia.$error.required && !form.inputelefoneContatoEmergencia.$pristine ">É obrigatório informar um celular, com DDD e 9 dígitos no número!</span>
  </div>
</fieldset>

<div class="form-group row ">
  <div class="col-sm-6 col-sm-offset-3 ">
    <a ui-sref="form.surfe" class="btn btn-block btn-info" ng-disabled="form.$invalid" ng-click="formController.marcarPassoSaudeComoConcluido()">
    Próximo Passo <span class=" glyphicon glyphicon-circle-arrow-right "></span>
    </a>
  </div>
</div>