<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <h2>Membros</h2>
        </div>
        <div class="col-xs-6 col-md-8">
          <a ng-click="membrosListController.atualizar()" class="btn btn-primary">
            <i class="glyphicon glyphicon-refresh"></i>
            <span>Atualizar</span>
          </a>
          <!-- Todo: Implementar exportação-->
          <!-- <a href="#" class="hidden-xs btn btn-info">
              <i class="glyphicon glyphicon-file"></i>
              <span>Exportar</span>
            </a> -->
        </div>
      </div>
    </div>

    <div class="table-filter">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <div class="filter-group">
                <label>Nome / Apelido</label>
                <input type="text" class="form-control" ng-model="membrosListController.filtro">
              </div>
            </div>
            <div class="col-sm-5 col-xs-12">
              <div class="filter-group">
                <label>Status</label>
                <select class="form-control" ng-model="membrosListController.filtroStatus">

                  <option>Todos</option>
                  <option>Ativo</option>
                  <option>Aprovação pendente</option>
                  <option>Cadastro pendente</option>
                </select>
                <button type="button" class="btn btn-primary" ng-click="membrosListController.filtrar()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- <span class="filter-icon">
              <i class="fa fa-filter"></i>
            </span> -->
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Surfista</th>
          <th class="hidden-xs hidden-sm">Apelido</th>
          <th>Status</th>
          <th class="hidden-xs hidden-sm">Telefone</th>
          <th class="hidden-xs hidden-sm">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="membro in membrosListController.pageItens | filter:membrosListController.contemNomeOuApelido">
          <td>
            <a ui-sref="membro({ id: membro.id })">
            <img class="avatar" style="width:60px" ng-src={{membro.urlFoto}} img-orientation>
            {{membro.nome}}</a>
          </td>
          <td class="hidden-xs hidden-sm">{{membro.apelido}}</td>
          <td>
            <span ng-if="(membro.status==='Aprovação pendente')" class="status text-warning">&bull;</span>
            <span ng-if="(membro.status==='Ativo')" class="status text-success">&bull;</span>
            <span ng-if="(membro.status==='Cadastro pendente')" class="status text-info">&bull;</span>
            {{membro.status}}
          </td>
          <td class="hidden-xs hidden-sm">{{membro.telefoneCelular}}</td>
          <td class="hidden-xs hidden-sm">
            <a ui-sref="membro({ id: membro.id })" class="view" title="Visualizar detalhes" data-toggle="tooltip">
              <i class="glyphicon glyphicon-arrow-right"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Current page: {{membrosListController.pager.currentPage}}
      Total pages: {{membrosListController.pager.totalPages}}
      Total items: {{membrosListController.pager.totalItems}}
      End page: {{membrosListController.pager.endPage}}
      Pages: {{membrosListController.pager.pages}} -->

    <div class="clearfix">
      <div class="hint-text">Total:
        <b>{{membrosListController.pager.totalItems}}</b> membros</div>
      <ul ng-if="membrosListController.pager.pages.length" class="pagination">
        <li ng-class="{disabled:membrosListController.pager.currentPage === 1}">
          <a ng-click="membrosListController.setPage(1)">Primeira</a>
        </li>
        <li ng-class="{disabled:membrosListController.pager.currentPage === 1}">
          <a aria-label="Anterior" ng-click="membrosListController.setPage(membrosListController.pager.currentPage - 1)">&laquo;</a>
        </li>
        <li ng-repeat="page in membrosListController.pager.pages" ng-class="{active:membrosListController.pager.currentPage === page}">
          <a ng-click="membrosListController.setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:membrosListController.pager.currentPage === membrosListController.pager.totalPages}">
          <a aria-label="Próxima" ng-click="membrosListController.setPage(membrosListController.pager.currentPage + 1)">&raquo;</a>
        </li>
        <li ng-class="{disabled:membrosListController.pager.currentPage === membrosListController.pager.totalPages}">
          <a ng-click="membrosListController.setPage(membrosListController.pager.totalPages)">Última</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</div>
