<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <img src="./images/republica-free-surf.png" class="img-responsive center-block">
  </div>
</div>
<div class="row" style="padding-top: 40px;">
  <div class="text-center">
    <div id="loginButton" class="fb-login-button" data-scope="public_profile, email" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true"></div>
  </div>
</div>

<div class="row">
  <p class="text-danger">{{erroIntegracaoFacebook}}</p>
</div>
