<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <img src="./images/republica-free-surf.png" class="img-responsive center-block">
  </div>
</div>

<div class="row" style="padding-top: 40px;">
  <div class="col-sm-4 col-sm-offset-4" style="text-align:center;">
    <button class="btn btn-social btn-facebook" ng-click="loginController.login()">
        <span class="fa fa-facebook"></span> Entrar com o Facebook
    </button>
  </div>
</div>

<div class="row">
  <p class="text-danger">{{erroIntegracaoFacebook}}</p>
</div>